.app-footer {
  margin-top: 3%;
  text-align: center;
  .footerdetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .disclaimer {
    color: rgba(0, 0, 0, 0.301);
    font-weight: 100;
    font-size: 70%;
  }
}

@media only screen and (max-width: 767px) {
  .app-footer {
    .storeTitle,
    .urordrTitle {
      font-size: 0.8rem;
    }

    .footerdetails {
      grid-template-columns: 1fr;
    }
  }
}
